solon_epg-EPG-3.10/solon-epg-core/src/main/resources/schemas/birt_refresh_fichier.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://dila.fr/solon/schemas/BirtRefreshFichier/"
	xmlns:breff="http://dila.fr/solon/schemas/BirtRefreshFichier/">

	<xs:include schemaLocation="core-types.xsd" />

	<xs:element name="filename" type="xs:string" />
	<xs:element name="owner" type="xs:string" />
	<xs:element name="dateRequest" type="xs:date" />
	<xs:element name="content" type="breff:content" />
	<xs:element name="contentCsv" type="breff:content" />
	<xs:element name="contentPdf" type="breff:content" />
	<xs:element name="paramList" type="xs:string" />

</xs:schema>