solon_epg-EPG-3.10/solon-epg-core/src/main/resources/schemas/birt_resultat_fichier.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://dila.fr/solon/schemas/BirtResultatFichier/"
	xmlns:brf="http://dila.fr/solon/schemas/BirtResultatFichier/">

	<xs:include schemaLocation="core-types.xsd" />
	<xs:element name="filename" type="xs:string" />
	<xs:element name="content" type="brf:content" />
	<xs:element name="contentCsv" type="brf:content" />
	<xs:element name="contentPdf" type="brf:content" />
	<xs:element name="modified" type="xs:date" />

</xs:schema>