solon_epg-EPG-3.10/solon-epg-core/src/main/resources/schemas/indexation_mot_cle.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nuxeo.org/schemas/indexation_mot_cle_solon_epg/"
	xmlns:indexmc="http://nuxeo.org/schemas/indexation_mot_cle_solon_epg/">

	<!-- on inclut le schema contenant la definition de xs:stringList -->
	<xs:include schemaLocation="base.xsd" />

	<!-- intitule de la liste -->
	<xs:element name="intitule" type="xs:string" />

	<!-- ids ministeres -->
	<xs:element name="ministereIds" type="indexmc:stringList" />

	<!-- mots clés -->
	<xs:element name="mots_cles" type="indexmc:stringList" />

	<!-- auhtor -->
	<xs:element name="author" type="xs:string" />

</xs:schema>