solon_epg-EPG-3.10/solon-epg-core/src/main/resources/schemas/requete_dossier_simple_texte_integral.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://dila.fr/solon/schemas/requeteDossierSimpleTexteIntegral/"
	xmlns:rqdsti="http://dila.fr/solon/schemas/requeteDossierSimpleTexteIntegral/">

	<xs:element name="sousClauseTexteIntegral" type="xs:string" />
	<xs:element name="texteIntegral" type="xs:string" />
	<xs:element name="dansActe" type="xs:boolean" />
	<xs:element name="dansExtrait" type="xs:boolean" />
	<xs:element name="dansAutrePieceParapheur" type="xs:boolean" />
	<xs:element name="dansFondDossier" type="xs:boolean" />
</xs:schema>