solon_epg-EPG-3.10/solon-epg-core/src/main/resources/schemas/resultat_consulte.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nuxeo.org/schemas/resultat_consulte/"
	xmlns:rescon="http://nuxeo.org/schemas/resultat_consulte/">

	<!-- on inclut le schema contenant la definition de xs:stringList -->
	<xs:include schemaLocation="base.xsd" />

	<!-- ids dossiers -->
	<xs:element name="dossiersIds" type="rescon:stringList" />

	<!-- ids fdr -->
	<xs:element name="fdrsIds" type="rescon:stringList" />

	<!-- nom user -->
	<xs:element name="usersNames" type="rescon:stringList" />

</xs:schema>