solon_epg-EPG-3.10/solon-epg-core/src/main/resources/schemas/vecteur_publication.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nuxeo.org/schemas/vecteur_publication/"
	xmlns:buloff="http://nuxeo.org/schemas/vecteur_publication/">

	<!-- on inclut le schema contenant la definition de xs:stringList -->
	<xs:include schemaLocation="base.xsd" />

	<!-- début -->
	<xs:element name="vpDebut" type="xs:date" />

	<!-- intitule -->
	<xs:element name="vpIntitule" type="xs:string" />

	<!-- fin -->
	<xs:element name="vpFin" type="xs:date" />

	<xs:element name="vpPos" type="xs:integer" default="0" />


</xs:schema>