solon_epg-EPG-3.10/solon-epg-core/src/main/resources/schemas/ws_spe.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nuxeo.org/schemas/ws_notification/" xmlns:wsn="http://nuxeo.org/schemas/ws_notification/">

	<!-- identifiant du poste -->
	<xs:element name="posteId" type="xs:string" />

	<!-- identifiant du dossier -->
	<xs:element name="idDossier" type="xs:string" />

	<!-- nom du webservice max 50 char -->
	<xs:element name="webservice" type="xs:string" />

	<!-- type de publication 2 types possibles : publication JO, publication 
		JORF et Epreuvage : max 2 char -->
	<xs:element name="typePublication" type="xs:string" />

	<xs:element name="nbEssais" type="xs:int" default="0" />
</xs:schema>