solon-epg-core/src/main/resources/schemas/export_pan_stat.xsd

<?xml version="1.0" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://dila.fr/solon/schemas/ExportPANStat/"
    xmlns:expanstat="http://dila.fr/solon/schemas/ExportPANStat/"
>

	<xs:include schemaLocation="core-types.xsd" />

	<xs:element name="owner" type="xs:string" />
	<xs:element name="dateRequest" type="xs:date" />
	<xs:element name="content" type="expanstat:content" />
	<xs:element name="legislatures" type="xs:string" />
</xs:schema>
