solon-epg-core/src/main/resources/schemas/favoris_consultation.xsd

<?xml version="1.0" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://nuxeo.org/schemas/favoris_consultation/"
    xmlns:favcon="http://nuxeo.org/schemas/favoris_consultation/"
>

	<!-- on inclut le schema contenant la definition de xs:stringList -->
	<xs:include schemaLocation="base.xsd" />

	<!-- ids dossiers -->
	<xs:element name="dossiersIds" type="favcon:stringList" />

	<!-- ids fdr -->
	<xs:element name="fdrsIds" type="favcon:stringList" />

	<!-- nom user -->
	<xs:element name="usersNames" type="favcon:stringList" />

</xs:schema>
