solon-epg-core/src/main/resources/schemas/mode_parution.xsd

<?xml version="1.0" ?>
<xs:schema
    targetNamespace="http://www.nuxeo.org/ecm/schemas/modeparution"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:nxs="http://www.nuxeo.org/ecm/schemas/modeparution"
>

	<xs:include schemaLocation="base.xsd" />

	<xs:element name="mode" type="xs:string" />
	<xs:element name="dateDebut" type="xs:date" />
	<xs:element name="dateFin" type="xs:date" />

</xs:schema>
