solon-epg-core/src/main/resources/schemas/texte_signale.xsd

<?xml version="1.0" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://cm.nuxeo.com/schemas/textesignale/"
    xmlns:acmxs="http://case-management.nuxeo.com/schemas/textesignale/"
    xmlns:ts="http://case-management.nuxeo.com/schemas/base/"
>

	<xs:include schemaLocation="base.xsd" />

	<xs:element name="dateDemandePublicationTS" type="xs:date" />

	<xs:element name="vecteurPublicationTS" type="xs:string" />

	<xs:element name="observationTS" type="xs:string" />

	<xs:element name="idDossier" type="xs:string" />

	<xs:element name="type_ts" type="xs:string" />

</xs:schema>
