solon_epg_4.0.2-1/solon-mgpp-core/src/main/resources/schemas/fiche_presentation_ie.xsd

<?xml version="1.0" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://dila.fr/solon/schemas/fiche_presentation_ie/"
    xmlns:fpie="http://dila.fr/solon/schemas/fiche_presentation_ie/"
>

  <xs:element name="identifiantProposition" type="xs:string" />
  <xs:element name="auteur" type="xs:string" />
  <xs:element name="intitule" type="xs:string" />
  <xs:element name="date" type="xs:date" />
  <xs:element name="observation" type="xs:string" />

</xs:schema>
