solon-mgpp-core/src/main/resources/schemas/activite_parlementaire.xsd

<?xml version="1.0" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://dila.fr/solon/schemas/activite_parlementaire/"
    xmlns:ap="http://dila.fr/solon/schemas/activite_parlementaire/"
>  
  <xs:element name="idDossier" type="xs:string" />
  <xs:element name="intituleLoi" type="xs:string" />
  <xs:element name="activite" type="xs:string" />
  <xs:element name="assemblee" type="xs:string" />
  <xs:element name="date" type="xs:dateTime" />
</xs:schema>
