solon-mgpp-core/src/main/resources/schemas/fiche_presentation_jss.xsd

<?xml version="1.0" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://dila.fr/solon/schemas/fiche_presentation_jss/"
    xmlns:fpjss="http://dila.fr/solon/schemas/fiche_presentation_jss/"
>

  <!-- on inclut le schema contenant la definition de xs:stringList  -->
  <xs:include schemaLocation="base.xsd" />

  <xs:element name="idDossier" type="xs:string" />
  <xs:element name="objet" type="xs:string" />
  <xs:element name="dateLettrePm" type="xs:date" />

</xs:schema>
