solon-mgpp-core/src/main/resources/schemas/fiche_presentation_avi.xsd

<?xml version="1.0" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://dila.fr/solon/schemas/fiche_presentation_avi/"
    xmlns:fpavi="http://dila.fr/solon/schemas/fiche_presentation_avi/"
>

  <!-- on inclut le schema contenant la definition de xs:stringList  -->
  <xs:include schemaLocation="base.xsd" />

  <xs:element name="idDossier" type="xs:string" />
  <xs:element name="nomOrganisme" type="xs:string" />

  <xs:element name="idOrganismeEPP" type="xs:string" />
  
  <xs:element name="baseLegale" type="xs:string" />
  
  <xs:element name="date" type="xs:date" />
  <xs:element name="dateFin" type="xs:date" />
  
</xs:schema>
