solon_epg_4.0.2-1/solon-epg-core/src/main/resources/schemas/bulletin_officiel.xsd

<?xml version="1.0" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://nuxeo.org/schemas/bulletin_officiel/"
    xmlns:buloff="http://nuxeo.org/schemas/bulletin_officiel/"
>

	<!-- on inclut le schema contenant la definition de xs:stringList -->
	<xs:include schemaLocation="base.xsd" />

	<!-- nor -->
	<xs:element name="boNor" type="xs:string" />

	<!-- intitule -->
	<xs:element name="boIntitule" type="xs:string" />

	<!-- etat -->
	<xs:element name="boEtat" type="xs:string" />


</xs:schema>
