solon_epg_4.0.2-1/solon-epg-core/src/main/resources/schemas/maj_ministerielle.xsd

<?xml version="1.0" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://dila.fr/solon/schemas/maj_ministerielle/"
    xmlns:majm="http://dila.fr/solon/schemas/maj_ministerielle/"
>

	<xs:element name="idDossier" type="xs:string" />
	<xs:element name="norDossier" type="xs:string" />
	<xs:element name="ref" type="xs:string" />
	<xs:element name="refMesure" type="xs:string" />
	<xs:element name="titre" type="xs:string" />
	<xs:element name="numeroArticles" type="xs:string" />
	<xs:element name="commentaire" type="xs:string" />
	<xs:element name="modification" type="xs:string" />
	<xs:element name="dateCreation" type="xs:date" />
</xs:schema>
