solon_epg_4.0.2-1/solon-epg-core/src/main/resources/schemas/requete_dossier.xsd

<?xml version="1.0" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://dila.fr/solon/schemas/requeteDossier/"
    xmlns:rqd="http://dila.fr/solon/schemas/requeteDossier/"
>

	<!-- Caractéristique d'une requête de dossier -->
	<xs:element name="dansBaseProduction" type="xs:boolean" />
	<xs:element name="dansBaseArchivageIntermediaire" type="xs:boolean" />
	<xs:element name="sensibiliteCasse" type="xs:boolean" />
</xs:schema>
