solon_epg_4.0.2-1/solon-epg-core/src/main/resources/schemas/versions.xsd

<?xml version="1.0" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://dila.fr/solon/schemas/versions/"
    xmlns:filepg="http://dila.fr/solon/schemas/versions/"
>

	<!-- on inclut le schema contenant la definition de xs:stringList -->
	<xs:include schemaLocation="base.xsd" />

	<xs:element name="versionableid" type="xs:string" />
	<xs:element name="created" type="xs:date" />
	<xs:element name="label" type="xs:string" />
	<xs:element name="description" type="xs:string" />
	<xs:element name="islatest" type="xs:boolean" />
	<xs:element name="islatestmajor" type="xs:boolean" />

</xs:schema>
