solon_epg-EPG-3.10/solon-mgpp-core/src/main/resources/schemas/representant_aud.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://dila.fr/solon/schemas/representant_aud/"
  xmlns:raud="http://dila.fr/solon/schemas/representant_aud/">

  <xs:include schemaLocation="base.xsd" />

  <xs:element name="idfpaud" type="xs:string" />
  
  <xs:element name="personne" type="xs:string" />

  <xs:element name="fonction" type="xs:string" />
  
  <xs:element name="dateDebut" type="xs:date" />
  <xs:element name="dateFin" type="xs:date" />
  
  <xs:element name="dateAuditionAN" type="xs:date" />
  <xs:element name="dateAuditionSE" type="xs:date" />
  
</xs:schema>