solon_epg-EPG-3.10/solon-mgpp-core/src/main/resources/schemas/representant_avi.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://dila.fr/solon/schemas/representant_oep/"
  xmlns:ravi="http://dila.fr/solon/schemas/representant_oep/">

  <!-- on inclut le schema contenant la definition de xs:stringList  -->
  <xs:include schemaLocation="base.xsd" />

  <xs:element name="idfpavi" type="xs:string" />
  
  <xs:element name="nomine" type="xs:string" />
  
  <xs:element name="dateDebut" type="xs:date" />
  <xs:element name="dateFin" type="xs:date" />
  
  <xs:element name="dateAuditionAN" type="xs:date" />
  <xs:element name="dateAuditionSE" type="xs:date" />
  
</xs:schema>