solon_epg-EPG-3.10/solon-mgpp-core/src/main/resources/schemas/semaine_parlementaire.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://dila.fr/solon/schemas/semaine_parlementaire/"
  xmlns:sp="http://dila.fr/solon/schemas/semaine_parlementaire/">  
  <xs:element name="idDossier" type="xs:string" />
  <xs:element name="intituleLoi" type="xs:string" />
  <xs:element name="assemblee" type="xs:string" />
  <xs:element name="orientation" type="xs:string" />
  <xs:element name="dateDebut" type="xs:date" />
  <xs:element name="dateFin" type="xs:date" />
</xs:schema>